$phone: 540px;
$tablet: 760px;


@media screen and (max-width: $phone) { 
    .location-form .location-input { 
        flex-direction: column;
    }
    
    .weather-info { 
        width: 400px;
    }
}